/* 兼容lyui */
.hidden {
    display: none;
}
.toolbar-inner .fa {
    font-size: 28px;
}
.img-responsive {
    max-width: 100%;
}
.text-center {
    text-align: center;
}
.webuploader-element-invisible {
    display: none;
}

/* label */
.label-primary,
.label-primary-outline {
    background: #ff7733 !important;
    color: #fff !important;
}
.label-success,
.label-success-outline {
    background: #4cd964 !important;
    color: #fff !important;
}
.label-danger,
.label-danger-outline {
    background: #ff3b30 !important;
    color: #fff !important;
}
.label-warning,
.label-warning-outline {
    background: #ffcc00 !important;
    color: #fff !important;
}
.label-info,
.label-info-outline {
    background: #5ac8fa !important;
    color: #fff !important;
}

/* 分页 */
.pagination {
    padding: 0px;
    text-align: center;
}
.pagination li {
    display: inline;
}
.pagination li>a,
.pagination li>span {
    position: relative;
    border: 1px solid #ff7733;
    border-right: 0;
    padding: 8px 16px;
    text-decoration: none;
    text-align: center;
    white-space: nowrap;
    position: relative;
    overflow: hidden;
    text-overflow: ellipsis;
}
.pagination li>a,
.pagination li>span {
    position: relative;
    border: 1px solid #ff7733;
    padding: 8px 16px;
    margin-left: -1px;
}
.pagination>li:nth-child(2) .num {
    border-radius: 5px 0 0 5px;
}
.pagination>li:nth-last-child(2) .num {
    border-radius: 0 5px 5px 0;
}
.pagination>li:first-child,
.pagination>li:last-child {
    margin-left: 0px;
}
.pagination li .prev {
    margin-right: 5%;
}
.pagination li .next {
    margin-left: 5%;
}
.pagination li .prev,
.pagination li .next {
    width: 15%;
    border-radius: 5px;
}
.pagination li.active span {
    background: #ff7733;
    color: #fff;
}


/* 全局样式 */
.no-margin {
    margin: 0;
}
.no-padding {
    padding: 0;
}
.no-border {
    border: 0;
}
.no-before:before {
    height: 0;
}
.no-after:after {
    height: 0;
}
.pos-r {
    position: relative !important;
}
.pos-a {
    position: absolute !important;
}
.pos-f {
    position: fixed !important;
}
.with-picker-modal .views {
    height:calc(100% - 260px)
}


/* 主题颜色 */
/* F7 */
.color-opencmf {
  color: #ff7733;
}
.list-block .item-link.list-button.color-opencmf,
.tabbar a.active.color-opencmf,
a.color-opencmf {
  color: #ff7733;
}
.label-switch input[type="checkbox"]:checked + .checkbox.color-opencmf,
.label-switch.color-opencmf input[type="checkbox"]:checked + .checkbox {
  background-color: #ff7733;
}
.color-opencmf.button:not(.button-fill),
.color-opencmf.buttons-row .button,
.theme-opencmf .button:not(.button-fill) {
  border-color: #ff7733;
  color:#ff7733;
}
html:not(.watch-active-state) .color-opencmf.button:not(.button-fill):active,
html:not(.watch-active-state) .color-opencmf.buttons-row .button:active,
html:not(.watch-active-state) .theme-opencmf .button:not(.button-fill):active,
.color-opencmf.button:not(.button-fill).active-state,
.color-opencmf.buttons-row .button.active-state,
.theme-opencmf .button:not(.button-fill).active-state {
  background-color: rgba(0, 122, 255, 0.15);
}
.color-opencmf.button:not(.button-fill).active,
.color-opencmf.buttons-row .button.active,
.theme-opencmf .button:not(.button-fill).active {
  background-color: #ff7733;
  color: #fff;
}
.theme-opencmf .button.button-fill,
.button.button-fill.color-opencmf {
  background: #ff7733;
  color: #fff;
}
.progressbar.color-opencmf span,
.progressbar.theme-opencmf span,
.theme-opencmf .progressbar span,
.progressbar.bg-opencmf span {
  background-color: #ff7733;
}
.progressbar-infinite.color-opencmf:before,
.progressbar-infinite.theme-opencmf:before,
.theme-opencmf .progressbar-infinite:before,
.progressbar-infinite.bg-opencmf:before {
  background-color: #ff7733;
}
.color-opencmf i.icon,
.theme-opencmf i.icon,
i.icon.color-opencmf,
i.icon.theme-opencmf {
  color: #ff7733;
}
.theme-opencmf a,
.theme-opencmf .item-link.list-button {
  color: inherit;
}
.theme-opencmf .tabbar a,
.tabbar.theme-opencmf a,
.theme-opencmf .tabbar a i,
.tabbar.theme-opencmf a i {
  color: inherit;
}
.theme-opencmf .tabbar a.active,
.tabbar.theme-opencmf a.active,
.theme-opencmf .tabbar a.active i,
.tabbar.theme-opencmf a.active i {
  color: #ff7733;
}
.theme-opencmf .range-slider input[type="range"]::-webkit-slider-thumb:before,
.range-slider.theme-opencmf input[type="range"]::-webkit-slider-thumb:before {
  background-color: #ff7733;
}
.theme-opencmf .range-slider input[type="range"]::-ms-fill-lower,
.range-slider.theme-opencmf input[type="range"]::-ms-fill-lower {
  background-color: #ff7733;
}
.theme-opencmf label.label-checkbox input[type="checkbox"]:checked + .item-media i.icon-form-checkbox,
.theme-opencmf label.label-checkbox input[type="radio"]:checked + .item-media i.icon-form-checkbox {
  background-color: #ff7733;
}
.theme-opencmf .picker-calendar-day.picker-calendar-day-selected span {
  background-color: #ff7733 !important;
}
.swiper-pagination.color-opencmf .swiper-pagination-bullet-active,
.theme-opencmf .swiper-pagination .swiper-pagination-bullet-active {
  background-color: #ff7733;
}
.swiper-pagination.color-opencmf .swiper-pagination-progressbar,
.theme-opencmf .swiper-pagination .swiper-pagination-progressbar {
  background-color: #ff7733;
}
.swiper-pagination.swiper-pagination-progress.bg-opencmf {
  background-color: rgba(0, 122, 255, 0.25);
}
.bg-opencmf,
.button.button-fill.bg-opencmf,
a.bg-opencmf,
.list-block .swipeout-actions-left a.bg-opencmf,
.list-block .swipeout-actions-right a.bg-opencmf {
  background-color: #ff7733;
}
.border-opencmf {
  border-color: #ff7733;
}
.list-block .border-opencmf.item-inner:after,
.list-block ul.border-opencmf:after,
.border-opencmf:after,
.list-block .border-opencmf.item-inner:before,
.list-block ul.border-opencmf:before,
.border-opencmf:before {
  background-color: #ff7733;
}
.badge.color-opencmf,
.badge.theme-opencmf {
  background-color: #ff7733;
  color: #fff;
}


/* 自定义 */
.bg-opencmf,
.theme-opencmf .navbar {
    color: #888;
    border-color: #fff;
    background-color: #fff;
}
.theme-opencmf .navbar:after {
    height: 0;
}
.theme-opencmf .navbar a,
.theme-opencmf .navbar .icon {
    color: #555;
}
.theme-opencmf .view>.toolbar {
    opacity: 0.95;
}
.theme-opencmf .navbar img {
    height: 40px;
}

/* another tab style */
.tab-link-row {
    -ms-flex-item-align: center;
    -webkit-align-self: center;
    align-self: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-lines: single;
    -moz-box-lines: single;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: none;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    background-color:#fff;
}
.tab-link-row .tab-link {
    width:100%;
    box-flex:1.0;
    -moz-box-flex:1.0;
    -webkit-box-flex:1.0;
    -ms-flex:1.0;
    text-align: center;
    line-height: 2.5;
    color: #999;
    font-size: 16px;
    font-weight: 500;
}
.tab-link-row .tab-link.active {
    border-bottom: 2px solid #007aff;
    color:#007aff;
}
.theme-opencmf .tab-link-row .tab-link.active {
    border-bottom: 2px solid #ff7733;
    color:#ff7733;
}
.opencmf-empty {
    text-align: center;
    position: absolute;
    top: 200px;
    left:0;
    right: 0;
    width: 100%;
    color: #999;
}
.opencmf-empty .fa {
    margin-bottom: 10px;
    color: #aaa;
}

/* icon */
.theme-opencmf i.icon-next {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2015%2015'%3E%3Cg%3E%3Cpath%20fill%3D'%23ffffff'%20d%3D'M1%2C1.6l11.8%2C5.8L1%2C13.4V1.6%20M0%2C0v15l15-7.6L0%2C0L0%2C0z'%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E");
}
.theme-opencmf i.icon-prev {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2015%2015'%3E%3Cg%3E%3Cpath%20fill%3D'%23ffffff'%20d%3D'M14%2C1.6v11.8L2.2%2C7.6L14%2C1.6%20M15%2C0L0%2C7.6L15%2C15V0L15%2C0z'%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E");
}
.theme-opencmf i.icon-back {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2012%2020'%3E%3Cpath%20d%3D'M10%2C0l2%2C2l-8%2C8l8%2C8l-2%2C2L0%2C10L10%2C0z'%20fill%3D'%23ffffff'%2F%3E%3C%2Fsvg%3E");
}
.theme-opencmf i.icon-forward {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2012%2020'%3E%3Cpath%20d%3D'M2%2C20l-2-2l8-8L0%2C2l2-2l10%2C10L2%2C20z'%20fill%3D'%23ffffff'%2F%3E%3C%2Fsvg%3E");
}
.theme-opencmf i.icon-bars {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2021%2014'%3E%3Cpath%20fill%3D'%23ffffff'%20d%3D'M0%2C0h2v2H0V0z%20M4%2C0h17v1H4V0z%20M0%2C6h2v2H0V6z%20M4%2C6h17v1H4V6z%20M0%2C12h2v2H0V12z%20M4%2C12h17v1H4V12z'%2F%3E%3C%2Fsvg%3E");
}
@media (-webkit-min-device-pixel-ratio: 2) {
    .theme-opencmf i.icon-bars {
        background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2042%2026'%3E%3Cpath%20fill%3D'%23ffffff'%20d%3D'M0%2C0h4v4H0V0z%20M8%2C1h34v2H8V1z%20M0%2C11h4v4H0V11z%20M8%2C12h34v2H8V12z%20M0%2C22h4v4H0V22z%20M8%2C23h34v2H8V23z'%2F%3E%3C%2Fsvg%3E");
    }
}

/*自定义*/
.button-orange {
    background-color: #ff7733;
    color: #fff!important;
    border: none;
}
.button {
    display: inline-block;
}
.button:not(.button-round) {
    border-radius: 0!important;
}
.button-block {
    display: block;
    width: 100%;
}
.center {
    display: flex;
    display: -webkit-flex;
    display: box;
    justify-content: center;
    -webkit-justify-content: center;
    align-items: center;
    -webkit-align-items: center;
}
.start {
    display: flex;
    display: -webkit-flex;
    justify-content: center;
    -webkit-justify-content: center;
    align-items: flex-start;
    -webkit-align-items: flex-start;
    // align-content: center;
    // -webkit-align-content: center;
}
.end {
    display: flex;
    display: -webkit-flex;
    justify-content: flex-end;
    -webkit-justify-content: flex-end;
    align-items: center;
    -webkit-align-items: center;
}
.space-around {
     display: flex;
    display: -webkit-flex;
    display: box;
    justify-content: space-around;
    -webkit-justify-content: space-around;
    align-items: center;
    -webkit-align-items: center;
}
.flex-column {
    flex-direction: column;
    -webkit-flex-direction: column;
}
.modal {
    min-width: 320px;
    margin-left: -160px!important;
    border-radius: 0;
    margin-left: -160px;
    width: 320px!important;
}
.modal .modal-inner {
    border-radius: 0;
}
.modal .modal-inner .list-block {
    margin: 15px -15px -15px;
}
